<%- include('partials/header') %> <%- include('partials/nav') %>
<div class="container">
  <div class="starter-template">
    <h1><%= pageTitle %></h1>
    <p class="lead">About this app.</p>
    <p>This is app was written with the following technologies:</p>
    <ul class="list-group">
      <li class="list-group-item">API: WeatherAPI</li>
      <li class="list-group-item">Templating: EJS</li>
      <li class="list-group-item">Backend: Node.js, Express</li>
      <li class="list-group-item">
        Frontend: JavaScript, HTML/CSS (Bootstrap)
      </li>
    </ul>
  </div>

  <!-- <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">Panel content</div>
    </div>
  </div> -->


</div>
<%- include('partials/footer') %>