<%- include('partials/header') %> <%- include('partials/nav') %>
<div class="container">
  <div class="starter-template">
    <h1><%= pageTitle %></h1>
    <p class="lead">About this app.</p>
    <p>This app was written with the following technologies:</p>
    <ul class="list-group">
      <li class="list-group-item">API: WeatherAPI, NWS API (microservice)</li>
      <li class="list-group-item">Templating: EJS</li>
      <li class="list-group-item">Backend: Node.js, Express</li>
      <li class="list-group-item">
        Frontend: JavaScript, HTML/CSS (Bootstrap)
      </li>
    </ul>
  </div>

</div>
<%- include('partials/footer') %>