<%- include('partials/header') %> 
<%- include('partials/nav') %>

<div class="container">
    <div class="starter-template">
        <h1>Contact the creator</h1>
        <p class="lead">Here are some links to get in touch with me.</p>
        <h1>
            <a style="color: inherit" target="_blank" href="https://github.com/rifleben"><span class="bi bi-github"></span></a>
            <a style="color: inherit" target="_blank" href="https://www.linkedin.com/in/benjaminrifleman/"><span class="bi bi-linkedin"></span></a>
        </h1>
    </div>
</div>


<%- include('partials/footer')%>