<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container">
    <div class ="starter-template">
        <h1>Weather Station</h1>
        <p class="lead">Know your weather.</p>
    </div>
    <form action="/"  method="post">
        <div class="form-group">
            <label for="city">City:</label>
            <input class= "form-control" type="text" name="city" id="city" autocomplete="off">
        </div>
        <a class = "btn btn-sm btn-default" type="submit" value="Submit">Get Weather</a>
    </form>
</div>
<%- include('partials/footer')%>